
XMPro.CSVAgents/.vs/XMPro.CSVAgents/FileContentIndex/864f70c1-7840-460b-b845-eb7afc1192c2.vsidx
XMPro.CSVAgents/.vs/XMPro.CSVAgents/FileContentIndex/read.lock
XMPro.CSVAgents/obj/Debug/netstandard2.0/.NETStandard,Version=v2.0.AssemblyAttributes.cs
XMPro.CSVAgents/obj/Debug/netstandard2.0/XMPro.CSVAgents.AssemblyInfo.cs
XMPro.CSVAgents/obj/Debug/netstandard2.0/XMPro.CSVAgents.AssemblyInfoInputs.cache
XMPro.CSVAgents/obj/Debug/netstandard2.0/XMPro.CSVAgents.assets.cache
XMPro.CSVAgents/obj/Debug/netstandard2.0/XMPro.CSVAgents.csproj.AssemblyReference.cache
XMPro.CSVAgents/obj/Debug/netstandard2.0/XMPro.CSVAgents.GeneratedMSBuildEditorConfig.editorconfig
XMPro.CSVAgents/obj/project.assets.json
XMPro.CSVAgents/obj/project.nuget.cache
XMPro.CSVAgents/obj/XMPro.CSVAgents.csproj.nuget.dgspec.json
XMPro.CSVAgents/obj/XMPro.CSVAgents.csproj.nuget.g.props
XMPro.CSVAgents/obj/XMPro.CSVAgents.csproj.nuget.g.targets
